


body{
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F0F0F0;
    color: #3D3A3D;
    font-size: 16px;
}

a:link, a,a:visited{
    color:inherit
}
a:hover{
    font-style: italic;
}
h1,h2,h3,h4{
    font-weight: normal;
}
/* Navigation */

nav{
    position: fixed;
    display: block;
    top:0;
    left:0;
    padding: 8px 25px;
    padding-right:0;
    width: auto;
}
nav ul{
    padding-left:0;
    list-style:none;
}
nav a{
    color:inherit;
    text-decoration: none;
}
nav li.em, li.on{
    font-style: italic;
}
nav li{
    margin-bottom:10px;
}
nav li:first-child{
    margin-bottom:35px;
}
nav#mobile{
    display: none;
}
/* footer */
footer{
    margin-top:100px;
    padding-right:25px;
    margin-bottom:25px;
    width:calc(100% - 25px);
    text-align: right;
}
/* Content */

main{
    display: flex;
    min-height:calc(100vh - 250px);
    margin:0;
    width: 100%;
    margin-top:80px;
}
#home main > div:last-child{
    flex-basis: 60%;
}
main > div:first-child{
    flex-basis: 15%; 
}

main > div:nth-child(2){
    flex-basis: 15%;
}
main > div:nth-child(2) ul{
    padding:0;
    list-style: none;
    margin:0;
    position: fixed;
    max-width: 15%;
}
main > div:nth-child(2) ul li{ 
    margin-bottom:10px;
    cursor: pointer;
}
main > div:nth-child(2) ul li a{
    color:inherit;
    text-decoration: none;
}
main > div:nth-child(2) ul li:hover{
    font-style: italic;
}
main > div:last-child{
    padding-right: 25px;
    padding-left:25px;
    flex-basis: 70%;
    padding-left:5%;
}
main > div > *:first-child{
    margin-top:0;
}

img{
    width: 100%;
    margin: 0;
    margin-top:25px;
}
p{
    margin-top:25px;
    margin-bottom:0;
}

.two-column{
    display: flex;   
    justify-content: space-between;
}
.two-column > *{
    width: calc(50% - 25px);
}
/* COLOR CHANGES FOR SUB-PAGES */
/*
COLORS:
Projects Green #838027
Research Pink #B54842
Teaching Orange #E85726
Writing Purple #481A62
Yellow #F2B770
*/
nav li:nth-child(2):hover{
    color: #838027;
}
nav li:nth-child(3):hover{
    color: #B54842;
}
nav li:nth-child(4):hover{
    color: #E85726;
}
nav li:nth-child(5):hover{
    color: #481A62;
}

#projects nav li.em,#projects main > div > ul li.on,#projects main > div > h1:first-child, #projects main > div > ul li:hover{
    color: #838027;
}
#research nav li.em,#research main > div > ul li.on,#research main > div > h1:first-child, #research main > div > ul li:hover{
    color: #B54842;
}
#teaching nav li.em,#teaching main > div > ul li.on,#teaching main > div > h1:first-child, #teaching main > div > ul li:hover{
    color: #E85726;
}
#writing nav li.em,#writing main > div > ul li.on,#writing main > div > h1:first-child, #writing main > div > ul li:hover{
    color: #481A62;
}

#projects #back-to-top svg path{
    fill: #838027;
}
#research #back-to-top svg path{
    fill: #B54842;
}
#teaching #back-to-top svg path{
    fill: #E85726;
}
#writing #back-to-top svg path{
    fill: #481A62;
}
/********/
/* MOLD */
/********/

#petri{
    top:0;
    left:0;
    position: fixed;
    pointer-events: none;
    background-color: transparent;
}

/*************************/
/* MOBILE/TABLET STYLING */
/*************************/
@keyframes mold {
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }
}
#back-to-top{
    pointer-events: none;
    opacity: 0;
    margin:0;
    padding:0;
    width:0;
    display: none;
    height:0;
    overflow: hidden;
}
@media(max-width:900px){
    body{
        font-size: 18px;
    }
    main{
        flex-direction: column;
        margin-top:50px;
    }
    main > div{
        margin:0 10px;
    }
    main > div:last-child{
        padding:0;
    }
    #back-to-top{
        position:fixed;
        bottom:25px;
        right:25px;
        z-index: 9;
        width:auto;
        height:auto;
        overflow: auto;
        pointer-events: auto;
        opacity: 1;
        background-color: transparent;
        outline: none;
        border:none;
    }
    #back-to-top svg{
        width: 65px;
    }
    /* Navigation */
    nav{
        display: none;
    }
    main > div:nth-child(2) ul{
        position:relative;
        max-width:100%;
        margin-bottom:25px;
    }
    nav#mobile{
        display: flex;
        background-color: #f0f0f0;
        padding: 10px 10px;
        width: calc(100% - 0px);
        justify-content: space-between;
        z-index: 99;
    }
    nav#mobile ul{
        display: none;
    }
    #mobile-nav-trigger{
        position: relative;
        z-index: 9;
    }
    #mobile-nav-trigger >div{
        position: absolute;
        width: 35px;
        animation-duration: 2.8s;
        mix-blend-mode: lighten;
        animation-name: mold;
        animation-iteration-count: infinite;
        height:35px;
        background-color: #f0f0f0;
        border:1px solid #3D3A3D;
        border-radius: 100%;
        z-index: 9;

    }
    
    #mobile-nav-trigger >div:first-child{
        top: 8px;
        left:15px;
        width: 30px;
        animation-duration: 3s;
        height:30px;
    }
    #mobile-nav-trigger >div:last-child{
        top: -5px;
        left:24px;
        width: 20px;
        height:20px;
        animation-duration: 3.5s;
    }
    nav#mobile.open ul{
        display: block;
        position: fixed;
        left:0;
        width: 100%;
        padding-top: 50px;
        padding-left:25px;
        padding-bottom:25px;
        background-color: #f0f0f0;
    }
    nav#mobile.open ul li, nav#mobile.open ul li:first-child{
        margin-bottom: 20px;
    }
    /* MAIN CONTENT */
    img{
        margin-top:10px;
    }

    .two-column > *{
        width: calc(50% - 10px);
    }
    /* FOOTER */
    footer{
        padding-left:10px;
        width: calc(100% - 10px);
        padding-right:0;
        margin-bottom:20px;
        text-align: left;
    }
}